<html>

<body>
  <h1 [style.color]="color" [style.backgroundColor]="peechekacolor">Hello welcome to E-tech </h1>
 <h4> <button (click)="updateColor()">change color</button></h4>
 <input type="text" placeholder="enter new task" #task />
 <h5> <button (click)="addTask(task.value)">task</button></h5>
 <ul *ngFor="let item of list">
  <li>{{item.name}}</li><h1><button (click)="removetask(item.id)">removetask</button></h1>
</ul>
  <h2 *ngIf="show===82; then ifBlock else elseBlock"></h2>
  <ng-template #ifBlock><h2 >no one can do better than the best</h2></ng-template>
  <ng-template #elseBlock><h2 >yahi hai right choice baby aaha</h2></ng-template>
    <form [formGroup]="loginForm" (ngSubmit)="userlogin()">

    <mat-form-field class="example-full-width" appearance="fill">
      <mat-label>ENTER FIRST NAME</mat-label>
      <input matInput formControlName="firstname">
    </mat-form-field><span style="color:red;" *ngIf="firstname && firstname.invalid && firstname.touched">this field is
      mendetary</span> <br>

    <mat-form-field class="example-full-width" appearance="fill">
      <mat-label>ENTER SECOND NAME</mat-label>
      <input matInput formControlName="lastname">
    </mat-form-field>
    <span style="color:red;" *ngIf="lastname && lastname.invalid && lastname.touched">this field is mendetary</span>
    <br><br>
    <mat-form-field class="example-full-width" appearance="fill">
      <mat-label>ENTER EMAIL</mat-label>
      <input matInput formControlName="email">
    </mat-form-field><span style="color:red;" *ngIf="email && email.invalid && email.touched">this field is
      mendetary</span> <br>

    <mat-form-field class="example-full-width" appearance="fill">
      <mat-label>ENTER password</mat-label>
      <input matInput formControlName="password">
      <mat-icon matSuffix (click)="hide = !hide">{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
    </mat-form-field>
    <br>
    <span style="color:red;" *ngIf="password && password.invalid && password.touched">pleas enter minimum 7 digit
      password</span>
    <mat-form-field appearance="fill">
      <mat-label>Choose a date</mat-label>
      <input matInput [matDatepicker]="picker">
      <mat-hint>MM/DD/YYYY</mat-hint>
      <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
      <mat-datepicker #picker></mat-datepicker>
    </mat-form-field>
    <br>
    <button mat-button [disabled]="loginForm.invalid">Login</button>
  </form>
  <div>
    <h2>
      <app-listner class="mydata" [item]="mydata">"n1 comp"</app-listner>
    </h2>
  </div>

</body>

</html>